.App {
  text-align: center;
}

.App-header {
  background-color: #2ec4b57d;
  max-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #100c08;
}

.App-header img {
  width: 100px; 
  position: relative;
  right: 300px;
}

.App-header h1 {
  font-size: 3rem;
  right: 100px;
  position: relative;
  right: 60px;
}

body {
  background-color: #f8f8f8;
}